In [4]:
# %pip install pandas
import pandas as pd
data = {
    "Name" : ["John" , "Anna" , "Peater" , "Sophia"],
    "Age" : [28 , 24 , 35 , 30]
    
}

df = pd.DataFrame(data)
print(df)       
print(type(df))

     Name  Age
0    John   28
1    Anna   24
2  Peater   35
3  Sophia   30
<class 'pandas.core.frame.DataFrame'>

In [29]:
print(df.loc["day1"])

calories    420
duration     50
Name: day1, dtype: int64

In [30]:
print(df["calories"])

day1    420
day2    380
day3    390
Name: calories, dtype: int64

In [22]:
print(df.loc[["day1" , "day2" , "day3"]])

      calories  duration
day1       420        50
day2       380        40
day3       390        45

In [19]:
data = {
    "calories" : [420 , 380 , 390],
    "duration" : [50 , 40 , 45]
}

df = pd.DataFrame(data , index = ["day1" , "day2" , "day3"])
print(df)

      calories  duration
day1       420        50
day2       380        40
day3       390        45

In [32]:
print(df.shape)
print(df.size)
print(df.values)

(3, 2)
6
[[420  50]
 [380  40]
 [390  45]]

In [51]:
data = {
    "Age" : [ 25 , 30 , 35 , 40 , 60],
    'Salary' : [50000 , 60000 , 70000 , 80000 , 90000]
}

df = pd.DataFrame(data)
print(df)
print("count of rouws : ",df.shape[0]) #    (5 , 2)
print("count of columns : ",df.__len__()) # (5 , 2)
print("total elements : " , df.last_valid_index() + 1) # (5 , 2)
print("total elements : " , len(df)) # (5 , 2)
print("last value : " , df.loc[df.last_valid_index()]) # (5 , 2)

print(" last value : " ,df.iloc[-1])

   Age  Salary
0   25   50000
1   30   60000
2   35   70000
3   40   80000
4   60   90000
count of rouws :  5
count of columns :  5
total elements :  5
total elements :  5
last value :  Age          60
Salary    90000
Name: 4, dtype: int64
 last value :  Age          60
Salary    90000
Name: 4, dtype: int64

In [52]:
df["Distance"] = [5, 10 , 15 , 20 ,25]
print(df)

   Age  Salary  Distance
0   25   50000         5
1   30   60000        10
2   35   70000        15
3   40   80000        20
4   60   90000        25

In [53]:
dict_1 = {
    "Age" : 100,
    "Salary" : 100000,
    "Distance " : 30
}

df.loc[len(df)] = dict_1
print(df.iloc[-1])
print(df)

Age            100.0
Salary      100000.0
Distance         NaN
Name: 5, dtype: float64
   Age  Salary  Distance
0   25   50000       5.0
1   30   60000      10.0
2   35   70000      15.0
3   40   80000      20.0
4   60   90000      25.0
5  100  100000       NaN

In [54]:
print(df.sum())
print(df.mean())
print(df.describe())

Age            290.0
Salary      450000.0
Distance        75.0
dtype: float64
Age            48.333333
Salary      75000.000000
Distance       15.000000
dtype: float64
              Age         Salary   Distance
count    6.000000       6.000000   5.000000
mean    48.333333   75000.000000  15.000000
std     28.047579   18708.286934   7.905694
min     25.000000   50000.000000   5.000000
25%     31.250000   62500.000000  10.000000
50%     37.500000   75000.000000  15.000000
75%     55.000000   87500.000000  20.000000
max    100.000000  100000.000000  25.000000

In [55]:
print(df["Age"] > 30)

0    False
1    False
2     True
3     True
4     True
5     True
Name: Age, dtype: bool

In [5]:
import pandas as pd

df = pd.DataFrame({
    "Product" : ["Laptop" , "Mouse" , "Keyboard" , "Monitor" , "Headset"],
    "unitSold": [12 , 50 , 34 , 20 , 40],
    "price" : [120000 , 1500 , 3500 , 25000 , 6000 ],
    "Discount" : [0.10 , 0.05 , 0.08 , 0.12 , 0.07]
    
})

# 1. calculate final price after discount for each product 
# 2. calculate total revanuve for each product 
# 3. for above part 1 and part 2 add both result as new columns to the data frame filter and display only the products where total revenue 
# is grter than 500000 
# 4. calculate the total revanue of all products combine

# price = list(df["price"])
# discount = list(df["Discount"])
 
# price_after_discount = []

# for i in range(len(price)):
#     # price_after_discount = row - (row * discount)
#     price_after_discount.append(price[i] - price[i] * discount[i]                               
# ) 

# df["price_after_discount"] = price_after_discount
# # print(df)

# unit_sold = list(df["unitSold"])
# revenue = []

# for i in range(len(unit_sold)):
#     revenue.append(price_after_discount[i] * unit_sold[i]) 

# df["revenue"] = revenue
# print(df)    
 
 
# print("revanue larger than five laks : ",df[df["revenue"] > 500000])


df["price_after_discount"] = df["price"] - (df["price"] * df["Discount"])
df["revenue"] = df["price_after_discount"] * df["unitSold"]

print(df)

print("revanue larger than five laks : ",df[df["revenue"] > 500000])
print("sum of reveniue : ",sum(df["revenue"]))

    Product  unitSold   price  Discount  price_after_discount    revenue
0    Laptop        12  120000      0.10              108000.0  1296000.0
1     Mouse        50    1500      0.05                1425.0    71250.0
2  Keyboard        34    3500      0.08                3220.0   109480.0
3   Monitor        20   25000      0.12               22000.0   440000.0
4   Headset        40    6000      0.07                5580.0   223200.0
revanue larger than five laks :    Product  unitSold   price  Discount  price_after_discount    revenue
0  Laptop        12  120000       0.1              108000.0  1296000.0
sum of reveniue :  2139930.0