In [ ]:
my_var = 10

print(my_var)
print(type(my_var))

In [1]:
print(type(range(5)))

<class 'range'>

In [4]:
list_a = [ [1 , 2 , 3] , [4 , 5 , 6] ]
print(list_a)
print(type(list_a))

[[1, 2, 3], [4, 5, 6]]
<class 'list'>

In [ ]:
print("Hello, World!")

In [11]:
a = 10
b = float(a)
print(b)
print(type(b))

10.0
<class 'float'>

In [13]:
c = 7.3
b = int (c)
print(b)

7

In [22]:
my_list = [1, 2, 3, 4, 5]
print(my_list)
print(my_list[2 : 3] , my_list[3])
print(type(my_list))

[1, 2, 3, 4, 5]
[3] 4
<class 'list'>

In [2]:
list_i = [10 , 20 , 30 , 40 ]
print(sum(list_i))

100

In [4]:
# public
class person:
    def __init__(self, name):
        self.name = name
        
# protected
class  Animal:
    def __init__(self, animal_verient):
         self._animal_verient = animal_verient;     
        
obj1 = person("Alice")
print(obj1.name)

obj2 = Animal("donky")
print(obj2._animal_verient)

Alice
donky

In [ ]:
class person:
    def __init__(self):
        self.name = "kalana"

class employee(person):
    def display(self):
        print(self.name)   #ok access in subclass
        
        
    # techinically allowed , but not recommended
e = employee() 
print(e.name)

In [16]:
# private

class Dog:
    def __init__(self , name):
        self.__name = name
        
    def display(self):
        print(self.__name)
  
#   cannot access this like public attribute   
# d = dog("lacy")
# print(d.__name)

d = Dog("rocky")
print(d.display())

rocky
None

In [27]:
# create python class called student recored that demostarte sttrong encapsulation . you class must inculde
# a private attribute grades that store a list of intigers 0 - 100 a method "add_grade" 
# 1.asscepted grade and adds it to list 
# 2.calls the private method "validate_grade" to verify that the grade is a a valid intiger within a range 
# (A) method get avarage "get_avvarage" that 
# 1.caluculate and returnt the the student avarage score 
# 2.use a private mentod "caculate_avrage" internaly

class StudentRecord:
    def __init__(self):
        self.__grades = []
    
    def  add_grade(self, grade):
        if(self.__validate_grade(grade)):
            self.__grades.append(grade)
        else:
          print("cannot add miners number and than 100 numbers" , grade) 
        
    def __validate_grade(self , grade):
        return True if  0 <= grade <=100 else False
         
    def get_avarage(self):
       return self.__calculate_avarage()
   
    def __calculate_avarage(self):
       return sum(self.__grades)/len(self.__grades)
   
    def get_sum(self):
        return self.__calculate_sum()
   
    def __calculate_sum(self):    
        return sum(self.__grades)
    
stuR = StudentRecord()
stuR.add_grade(10)
stuR.add_grade(20)
stuR.add_grade(30)
stuR.add_grade(40)
stuR.add_grade(10)
stuR.add_grade(-5)
print(stuR.get_avarage())
print(stuR.get_sum())

cannot add miners number and than 100 numbers -5
22.0
110

In [34]:
file_1 = open("my_file.txt" , "r", encoding="utf-8")
context = file_1.read()
print(context)
file_1.close()

⣿⣧⡈⠙⠿⢿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠛⢹⠿⣿⣿⣿⣿
⣿⣿⣿⣷⣶⡀⠿⠿⣿⣿⣿⣿⣿⣿⡇⠐⠂⢒⡢ ⣿⣿
⣿⣿⣿⣿⣿⣿⣆ ⠈⢻⣿⣿⣿⣿⣿⡆⢈⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣷⣄ ⠙⠻⢻⢿⣿⠷⢠⢽⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣧⡀⠁ ⢘⣱⣍⠿⣾⢿⣿⢿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣶⣄  ⢉⢷⣌⠳⣿⣽⣛
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡀  ⠋⠽⠶⡌⣿⣻
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠟⣠⡀   ⠐⠇⢿⣿
⠿⠿⠿⠿⠿⠿⠿⠿⠿⠿⠿⠏⠁ ⠈ ⠅⠶⠲⠶⠆⠔

In [31]:
# open files using python program 
flie_1 = open("file1.txt", "r")

context =  flie_1.read()
print(context)
flie_1.close()

In [22]:
x = 2.5
print(isinstance(x , int))

False

In [7]:
x = False
print(isinstance(x, (float , int)))

True

In [1]:
my_dict = {
    'apple' : 5,
    'banana' : 10,
    'apple' :12
}

print(my_dict)

{'apple': 12, 'banana': 10}

In [2]:
a =[10 , 20 , 30]
b = a
print(b)

[10, 20, 30]

In [16]:
x = 10
print(id(x))

y = 10 
print(id(y))

140713693967560
140713693967560

In [17]:
my_list = [1, 2, 3, 4, 5]
print(my_list)
print(id(my_list))

[1, 2, 3, 4, 5]
2003475616512

In [18]:
my_list = [1 , "hello world", 3.5 , True]
print(my_list)
print(type(my_list))

[1, 'hello world', 3.5, True]
<class 'list'>

In [ ]:
my_num = 4.958e9
print(my_num)
print(type(my_num))

In [ ]:
my_var1 = 10
my_var2 = 20.5
my_var3 = "Hello"

my_var4 = my_var1 + my_var2 + len(my_var3)

print(my_var4)

In [ ]:
my_var = 10 + 3j
print(my_var)
print(type(my_var))

In [23]:
my_list = [1, 2, 3, 4, 5]
print(my_list[2:5])
print(my_list[2:])
print(my_list[:5])

[3, 4, 5]
[3, 4, 5]
[1, 2, 3, 4, 5]

In [24]:
my_list = [10, 8, 9, 15, 18, 26]
print(my_list[-4])

9

In [25]:
my_list = [10, 8, 9, 15, 18, 26]
print(my_list)

my_list[2:5] = [90, 60, 80]
print(my_list)

[10, 8, 9, 15, 18, 26]
[10, 8, 90, 60, 80, 26]

In [26]:
my_list = [10, 8, 9, 15, 18, 26]
print(my_list)

my_list.insert(2, 65)
print(my_list)

[10, 8, 9, 15, 18, 26]
[10, 8, 65, 9, 15, 18, 26]

In [27]:
my_list = [10, 8, 9, 15, 18, 26]
print(my_list)

my_list.append(44)
print(my_list)

[10, 8, 9, 15, 18, 26]
[10, 8, 9, 15, 18, 26, 44]

In [28]:
my_list = ["Cat", "Dog", "Rabbit"]
print(my_list)

my_list.remove("Dog")
print(my_list)

['Cat', 'Dog', 'Rabbit']
['Cat', 'Rabbit']

In [30]:
my_list = ["Cat", "Dog", "Rabbit", "Dog"]
print(my_list)

my_list.remove("Dog")
print(my_list)

['Cat', 'Dog', 'Rabbit', 'Dog']
['Cat', 'Rabbit', 'Dog']

In [31]:
my_list = ["Cat", "Dog", "Rabbit"]
my_var = my_list.pop(1)

print(my_var)
print(my_list)

Dog
['Cat', 'Rabbit']

In [32]:
my_list = ["Cat", "Dog", "Rabbit"]
print(my_list)

del my_list[1]
print(my_list)

['Cat', 'Dog', 'Rabbit']
['Cat', 'Rabbit']

In [33]:
my_list = ["Cat", "Dog", "Rabbit"]
print(my_list)

del my_list
print(my_list)

['Cat', 'Dog', 'Rabbit']

NameError: name 'my_list' is not defined

In [34]:
my_list = ["Cat", "Dog", "Rabbit"]
print(my_list)

my_list.clear()
print(my_list)

['Cat', 'Dog', 'Rabbit']
[]

In [35]:
my_list = ["Cat", "Dog", "Rabbit", "Horse", "Elephant"]
print(my_list)

my_list.sort()
print(my_list)

['Cat', 'Dog', 'Rabbit', 'Horse', 'Elephant']
['Cat', 'Dog', 'Elephant', 'Horse', 'Rabbit']

In [37]:
my_list = ["apple", "32", "rat", "Grapes", "rabbit"]
print(my_list)

my_list.sort()
print(my_list)

['apple', '32', 'rat', 'Grapes', 'rabbit']
['32', 'Grapes', 'apple', 'rabbit', 'rat']

In [38]:
my_list = ["apple", "32", "rat", "Grapes", "rabbit"]
print(my_list)

my_list.sort(reverse=True)
print(my_list)

['apple', '32', 'rat', 'Grapes', 'rabbit']
['rat', 'rabbit', 'apple', 'Grapes', '32']

In [39]:
my_list = ["Dog", "Cat", "Elephant", "Rabbit", "Horse"]
print(my_list)

my_list.reverse()
print(my_list)

['Dog', 'Cat', 'Elephant', 'Rabbit', 'Horse']
['Horse', 'Rabbit', 'Elephant', 'Cat', 'Dog']

In [ ]:
my_list = ["Dog", "Cat", "Elephant", "Rabbit", "Horse"]
print(my_list)

my_list1 = my_list.copy()
print(my_list1)

['Dog', 'Cat', 'Elephant', 'Rabbit', 'Horse']
['Dog', 'Cat', 'Elephant', 'Rabbit', 'Horse']

In [42]:
my_list_1 = [10, 20, 5, 8]
my_list_2 = [9, 13, 15]

my_list_3 = my_list_1 + my_list_2
print(my_list_3)

[10, 20, 5, 8, 9, 13, 15]

In [43]:
my_list_1 = [10, 20, 5, 8]
my_list_2 = [9, 13, 15]

my_list_1.extend(my_list_2)
print(my_list_1)

[10, 20, 5, 8, 9, 13, 15]

In [5]:
sports = {"Soccer", "Basketball", "Tennis", "Cricket"}

x = list(sports)
print(x , type(x))
x[1] = "cricket"
sports = tuple(x)
print(sports , type(sports))

['Cricket', 'Tennis', 'Soccer', 'Basketball'] <class 'list'>
('Cricket', 'cricket', 'Soccer', 'Basketball') <class 'tuple'>

In [17]:
sports = {"Soccer", "Basketball", "Tennis", "Cricket"} 
sports.add("batminton")
print(sports)
sports.update(["hockey" , "volleyball"])
print(sports)
sports.remove("Soccer")
print(sports)

{'Cricket', 'Tennis', 'batminton', 'Basketball', 'Soccer'}
{'Cricket', 'Tennis', 'batminton', 'Basketball', 'Soccer', 'volleyball', 'hockey'}
{'Cricket', 'Tennis', 'batminton', 'Basketball', 'volleyball', 'hockey'}

In [4]:
sports = {"Soccer", "Basketball", "Tennis", "Cricket"}
print(sports)
print(type(sports))

{'Cricket', 'Tennis', 'Soccer', 'Basketball'}
<class 'set'>

In [18]:
range_1 = range(3,24,4)
for i in range_1:
    print(i)
    
print(range_1)
print(type(range_1))

3
7
11
15
19
23
range(3, 24, 4)
<class 'range'>

In [31]:
this_dick ={
    "name": "Dick",
    "price":5000,
    "category": "Fiction",
    "weight":"300kg",
    "status":True
}

print(this_dick, type(this_dick))
print(this_dick["name"] , this_dick["category"])

{'name': 'Dick', 'price': 5000, 'category': 'Fiction', 'weight': '300kg', 'status': True} <class 'dict'>
Dick Fiction

In [23]:
nested_tuple = ((1,2,3),("a","b","c"),(True , False))
print(nested_tuple[1][1])
print(nested_tuple[2][0])

b
True

In [34]:
this_dick ={
    "name": "Dick",
    "price":5000,
    "category": "Fiction",
    "weight":"300kg",
    "status":True
}

this_dick["weight"] = "2kg"
print(this_dick)

{'name': 'Dick', 'price': 5000, 'category': 'Fiction', 'weight': '2kg', 'status': True}

In [ ]:
this_dict = {
    "name":"Sugar",
    "weight" : "1kg",
    "price":130.35
}

# this_dict["weight"] = "2kg"
# print(this_dict)

this_dict.update({"expire-date": "2025-12-31" , "weight": "2kg"})
print(this_dict)

this_dict.pop("name")
print(this_dict)

del this_dict["weight"]
print(this_dict)

this_dict.clear()
print(this_dict)

{'name': 'Sugar', 'weight': '2kg', 'price': 130.35, 'expire-date': '2025-12-31'}
{'weight': '2kg', 'price': 130.35, 'expire-date': '2025-12-31'}
{'price': 130.35, 'expire-date': '2025-12-31'}
{}

In [54]:
x = 2
y = 5

print(x ** y)
print(x%y)
print(y%x)
print(x//y) # floor division
print(y//x)

32
2
1
0
2

In [ ]:
product_id =  [101, 102, 103, 104, 105, 106, 107, 103, 109]
unique_product_id = set(product_id)
has_duplicate = len(product_id) < len(unique_product_id)
print("Has duplicate :", has_duplicate)

Has duplicate: False

In [59]:
x = 5
y = 5

print(x is y)

True

In [ ]:
my_list =[6 , 4 ,8 , 10 , 11 ]
print(my_list)

In [61]:
x = 5
y = 10

print(x & y)

0

In [ ]:
n = 5 
if n % 2 == 0:
    print("n is Even number")
else:
    print("n is Odd number")

n is Odd number

In [ ]:
PI = 22/7
r = 7

if(r > 0):
   print("circumference : " , 2 * PI * r)
else:
   print("enter positive value")

circumference :  44.0706

In [72]:
vertical_highest   = 10
horizontal_highest = 20

if(vertical_highest > 0 and horizontal_highest > 0):
     hypotenuse = (vertical_highest ** 2 + horizontal_highest ** 2) ** (1/2)
     print("hypotenuse : " , hypotenuse)
else:
     print("Enter positive value")

hypotenuse :  22.360679774997898

In [2]:
a = 0 

if a > 0:
    print("a is a positive")
elif a < 0:
    print("a is a negative")
else:        
    print("a is zero")

a is zero

In [28]:
input1 = float(input("Enter a number 1 : ")) #10
input2 = float(input("Enter a number 2 : ")) #20
input3 = float(input("Enter a number 3 : ")) #30

ordered = [input1, input2, input3]
#            10     20      30

if (ordered[0] >= ordered[1]) and (ordered[0] >= ordered[2]):
    largest = ordered[0]    
elif (ordered[1] >= ordered[0]) and (ordered[1] >= ordered[2]):
    largest = ordered[1]    
else:
    largest = ordered[2]

print("The largest number is:", largest)
smallest = []

if (ordered[0] <= ordered[1]) and (ordered[0] <= ordered[2]):
    if ordered[1] >= ordered[2]:
        smallest = [ordered[1], ordered[2], ordered[0]]
    else:
        smallest = [ordered[2], ordered[1], ordered[0]]

elif (ordered[1] <= ordered[0]) and (ordered[1] <= ordered[2]):
    if ordered[0] >= ordered[2]:
        smallest = [ordered[0], ordered[2], ordered[1]]
    else:
        smallest = [ordered[2], ordered[0], ordered[1]]

else:
    if ordered[0] >= ordered[1]:
        smallest = [ordered[0], ordered[1], ordered[2]]
    else:
        smallest = [ordered[1], ordered[0], ordered[2]]

print("descending order:", smallest)

The largest number is: 30.0
descending order: [30.0, 20.0, 10.0]

In [70]:
number = int(input("Enter number : "))
factorial = 1

for num in range(1 , number + 1):
    factorial = factorial * num 
    print(factorial)

1
2
6
24
120

In [72]:
# if you wnat free mathuwaly exit the for loop you can use break key word
# <q> break key word
number = [2 , 7 , 3 , 9 , 4 , 6 , 1]

for num in number:
    if num > 5:
        break
    print(num)

2

In [ ]:
# write the phython program that take 10 integers from the user using a for loop .
# > the program should stop taking inputs immidiatly if the user enter a 0 
# after the loop end, print the sum of all the numbers entered befor 0

# number = []
# sum = 0

# for num in range(1 , 11):
#     user_input = input("Enter number : ")
#     sum = sum + user_input
    
# print("Sum of all the numbers :" , sum)

TypeError: 'int' object is not callable

In [96]:


numbers = []
total = 0

for num in range(10):
    user_input = float(input("Enter number: "))
    if(user_input == 0):
        break
    
    numbers.append(user_input)
    total = total + user_input
    
        

print("Sum of all the numbers:", total)

Sum of all the numbers: 55.0

In [ ]:
number = [2 , 7 , 3 , 9 , 4 , 6 , 1 ]

for num in number:
    if(number %2 == 0)
    continue
print(num)

In [104]:
# write a python progarm tahts take 10 integer from the user using the for loop.
# the progrm shoul skip ALL NEgative numbers using the contnive statement 
# it shold calculate and dispaly the sum of only positive numbers enterd  

numbers = []
sum = 0

for num in range(10):
    user_input = int(input("Enter numbers : "))
    if user_input < 0:
        continue
    numbers.append(user_input)
    sum = sum + user_input; 

print(numbers) 
print(sum)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
45

In [1]:
def fuction_name(a , b):
 return a + b


print(fuction_name(4 , 5))

9

In [ ]:
def sum_of_squers(n):
    if n < 1:
        return "input should be a positive integer"
    for i in range(1 , n + 1): # [1, 2, 3, 4, 5]
        sum += i* n**2
        return sum
          
print(sum_of_squers(1))        
print(sum_of_squers(2))        
print(sum_of_squers(3))

In [7]:
# Q1. Write a python program (as a function), to calculate the sum of squares of positive integers from 1 to any given n.
# Q2. Write a python function named add_corresponding_numbers that takes two lists of numbers as input and returns a new 
# list containing the sum of corresponding elements from both lists. if the two lists 
# are not of equal length the function should display the message "Error: lists are not of equal length"

list_a = [1 , 2 , 3 , 4 , 5]
list_b = [6 , 7 , 8 , 9 , 10]
# list_c = [7, 9]

def add_corresponding_numbers(list_a , list_b):
    if(len(list_a) != len(list_b)):
        print("list are not of equel length")
        
    list_c = []
    for i in range(0, len(list_a)):
       list_c.append(list_a[i] + list_b[i]) 
    
    return list_c         

add_corresponding_numbers(list_a, list_b)

[7, 9, 11, 13, 15]

In [10]:
# positional argument

def add(a , b):
   return a + b

add(3 , 5)

8

In [ ]:
# defult argument
def add(a , b=10):
   return a + b

print(add(3 , 4))
print(add(3))          #13
print(add(3 , 4 , 5)) #error

# nomal argument ekka kalawame defult argument danna ba
# valid example
def fuct(a , b =5 , c =10):
    print(a , b , c)
    
# invalid argument
def fuct(a=5 , b , c =10): 
    print(a , b , c)

7
13

TypeError: add() takes from 1 to 2 positional arguments but 3 were given

In [ ]:
# write a python fuction name calculate total that and return the cost after appling a discount 
# the fuction should 
# >take price as a reqiered argument 
# >use quntity as an optional argument with the default valu of 1
# >use descount as an optional argument with the value 0
# >apply the descount as persentage on the total price

def caculate_price(price , qty=1 , descount = 0):
    total_price = price * qty
    descount_price = (total_price * descount) /100 
    return total_price - descount_price

caculate_price(100)

100.0

In [ ]:
# keyword argument
def add(a , b):
    return a + b
print(add(a = 4 , b = 3))
print(add(b= 3 ,a =4 ))

In [42]:
# arbitary argument

# mainly there are two types of arbitary arguments

# 1.arbitary positional arguments(*args)
def arbitary_positional_arg(*args): # me fuction eka call karaddi ona thram values daganna puluwan
    for arg in args:               # args = tuple
        print(arg)  
    print(type(args))  
        
arbitary_positional_arg(1 , 2 , 3 , 4 , 5)

# 2.arbitary kkeyword arguments(**kwargs)
def arbitary_keyword_arg(**kwargs): # me fuction eka call karaddi ona thram key value pairs daganna puluwan
    for key , value in kwargs.items():              # kwargs = dictionary    
        print(key , " : " , value)
 
   
    print(type(kwargs))
        
arbitary_keyword_arg(name = "John" , age = 30 , city = "New York")

1
2
3
4
5
<class 'tuple'>
name  :  John
age  :  30
city  :  New York
<class 'dict'>

In [49]:
# write a python fuction named avarage_score that, 
# 1.accepts any number of keyword arguments where,
# >keys are subject names (like maths , physics)
# >values are scores obtained in each subjects
# 2.calculates and print the average score of all subjects
# 3.if no subject are provided print no subject provided.

def avarage_score(**kwargs):
 
 if(len(kwargs) == 0):
     print("no subject provided.")
  
 total_score = 0
 for key , value in kwargs.items(): 
     total_score = total_score + value 
     
 avarage = total_score / len(kwargs)  
      
 print("avarage score :" , avarage)
 

avarage_score(maths = 100 , physics = 100 , chemistry = 100)

avarage score : 100.0

In [52]:
# python building functions
def absolute_value(num):
    if num < 0:
        return -num
    else:
        return num
    
absolute_value(-5)
absolute_value(10)
# absolute_value(0)

10

In [53]:
my_list = [2 , 6 , 3 , 4]

def find_square(x):
    return x**2

result = map(find_square , my_list)
print(list(result))
print(type(result))

[4, 36, 9, 16]
<class 'map'>

In [27]:
# write a python function named sum_numbers that accepts any number of numaric arguments and retuens thier sum. 

def sum_numbers(*args):
    total = 0
    for num in args:
        total += num
    return total

print(sum_numbers(1,1,2,3,1,2))

10

In [ ]:
# <!-- write a phython fuction avarage_positive that accepts any number of numaric argumnets and calculate the avarage 
# of all positive numbers only if no positive number is provided the fuction should display no positve number provided.  -->

def avg_positive_number(*pos_numbers):
    number_count = 0
    sum_numbers = 0
    for i in pos_numbers:
        if(i < 0):
            print(i ,"is not positve number.")
            continue
        elif(i > 0):    
         number_count += 1
         sum_numbers += i; 
    avrage = sum_numbers/number_count
    return avrage;    

avg_positive_number(1 , 2 , 3 , 4 , -1)

-1 is not positve number provided.

2.5

In [61]:
# write a python fuction named fahernheit_to_celsius that accespts a list of tempreur in fahernheit.
# use to map fuction to convert each tempertuer to celsies using the follwing fomular.

# celsius = (farenheit - 32) * 5/9

# return a new list conatiing the temprechers in celeises , router two decimal plases


def fahernheit_to_celsius(f):
     def convert(c):
        celsius = (c - 32) / 9/5
        return round(celsius, 2)

     tempercher = map(convert , f)
     print(list(tempercher))
    

print(fahernheit_to_celsius([10 , 20 , 30]))

[-0.49, -0.27, -0.04]
None

In [ ]:
# use the map fuction with two list to add their corresponding elements and print the resulting list.
list_a = [10 , 20 , 30 , 40]
list_b = [1 , 2 , 3 , 4]

def add_corresponding_elements(a , b):
    return a + b

result = map(add_corresponding_elements , list_a , list_b) #map ekak athulata iterable onatharam pawichchi karanna puluwan
print(list(result))

[11, 22, 33, 44]

In [63]:
def even_finder(x):
    if(x %2 == 0):
        return x
    
iteable =[6 , 1 , 3 , 4]


result = filter(even_finder , iteable)
print(list(result))

[6, 4]

In [65]:
# use the filter uction to extraxt all numbers from the list 
# [12 , 15 , 18 , 20 , 25 , 30 , 35 ]that are devicible by three not by five.print the result in result

def devisable_three_and_not_five(number):
   if(number % 3 == 0):
       if(number % 5 != 0):
           return number

number_list = [12 , 15 , 18 , 20 , 25 , 30 , 35 ]

result = filter(devisable_three_and_not_five , number_list)  
print(list(result))

[12, 18]

In [66]:
add = lambda a , b : a + b

print(add(3 , 4))

7

In [67]:
# write a lamda fuction to find the maximun of two numbers
max_num = lambda a , b : a if a> b else b

print(max_num(4 , 2))

4

In [69]:
# use a lamda fuctrion with the map fuction to squer all numbers in a given list and print the resulting list  
list_a = [1 , 2 , 3]

def squear(x):
    return x**2

find_square = lambda list_a : map(squear , list_a)
result = find_square(list_a)
print(list(result))

[1, 4, 9]

In [71]:
# use a lamda fuction with the filter fuction to extract all numbers from a list that are devisible by three but not by five and printer resulting list 

list_a = [1 , 2 , 3 , 4 , 5 , 6 , 7 , 8 , 9 , 10]

divsible = list(filter(lambda x: True if x %3 ==0 and x%5 !=0 else False, list_a ))
print(divsible)

[3, 6, 9]

In [ ]:
# write a python program that takes a day of the week as input (ex : "monday" , "tuesday" , ect) and prints whether it is
# is a week day or weekened using structural patten maching.

day = input("Enter a day of the week: ").lower()

match day:
    case "monday" | "tuesday" | "bijja" | "thursday" | "friday":
        print(f"{day} is a fucking weekday.")
    case "wedsnesday":
        print(f"it 's {day} my dudes.")
    case "saturday" | "sunday":
        print(f"{day} is a fucking weekend.")
    case _:
        print("Invalid day entered. Please enter a valid day of the week.")

it 's wedsnesday my dude.

In [24]:
#write a phython program to take numnber as input and print if absolute value using a trnary operator.
#do not use the bulidng abs() function.
x = -10
result = x if x >= 0 else x * -1 
print(result)

10

In [ ]:
x = 10 
result = "Even" if x%2 == 0 else "odd"
print(result)