In [ ]:
my_var = 10

print(my_var)
print(type(my_var))

In [ ]:
print("Hello, World!")

In [11]:
a = 10
b = float(a)
print(b)
print(type(b))

10.0
<class 'float'>

In [13]:
c = 7.3
b = int (c)
print(b)

7

In [22]:
my_list = [1, 2, 3, 4, 5]
print(my_list)
print(my_list[2 : 3] , my_list[3])
print(type(my_list))

[1, 2, 3, 4, 5]
[3] 4
<class 'list'>

In [16]:
x = 10
print(id(x))

y = 10 
print(id(y))

140713693967560
140713693967560

In [17]:
my_list = [1, 2, 3, 4, 5]
print(my_list)
print(id(my_list))

[1, 2, 3, 4, 5]
2003475616512

In [18]:
my_list = [1 , "hello world", 3.5 , True]
print(my_list)
print(type(my_list))

[1, 'hello world', 3.5, True]
<class 'list'>

In [ ]:
my_num = 4.958e9
print(my_num)
print(type(my_num))

In [ ]:
my_var1 = 10
my_var2 = 20.5
my_var3 = "Hello"

my_var4 = my_var1 + my_var2 + len(my_var3)

print(my_var4)

In [ ]:
my_var = 10 + 3j
print(my_var)
print(type(my_var))

In [23]:
my_list = [1, 2, 3, 4, 5]
print(my_list[2:5])
print(my_list[2:])
print(my_list[:5])

[3, 4, 5]
[3, 4, 5]
[1, 2, 3, 4, 5]

In [24]:
my_list = [10, 8, 9, 15, 18, 26]
print(my_list[-4])

9

In [25]:
my_list = [10, 8, 9, 15, 18, 26]
print(my_list)

my_list[2:5] = [90, 60, 80]
print(my_list)

[10, 8, 9, 15, 18, 26]
[10, 8, 90, 60, 80, 26]

In [26]:
my_list = [10, 8, 9, 15, 18, 26]
print(my_list)

my_list.insert(2, 65)
print(my_list)

[10, 8, 9, 15, 18, 26]
[10, 8, 65, 9, 15, 18, 26]

In [27]:
my_list = [10, 8, 9, 15, 18, 26]
print(my_list)

my_list.append(44)
print(my_list)

[10, 8, 9, 15, 18, 26]
[10, 8, 9, 15, 18, 26, 44]

In [28]:
my_list = ["Cat", "Dog", "Rabbit"]
print(my_list)

my_list.remove("Dog")
print(my_list)

['Cat', 'Dog', 'Rabbit']
['Cat', 'Rabbit']

In [30]:
my_list = ["Cat", "Dog", "Rabbit", "Dog"]
print(my_list)

my_list.remove("Dog")
print(my_list)

['Cat', 'Dog', 'Rabbit', 'Dog']
['Cat', 'Rabbit', 'Dog']

In [31]:
my_list = ["Cat", "Dog", "Rabbit"]
my_var = my_list.pop(1)

print(my_var)
print(my_list)

Dog
['Cat', 'Rabbit']

In [32]:
my_list = ["Cat", "Dog", "Rabbit"]
print(my_list)

del my_list[1]
print(my_list)

['Cat', 'Dog', 'Rabbit']
['Cat', 'Rabbit']