In [ ]:
my_var = 10

print(my_var)
print(type(my_var))

In [ ]:
print("Hello, World!")

In [11]:
a = 10
b = float(a)
print(b)
print(type(b))

10.0
<class 'float'>

In [13]:
c = 7.3
b = int (c)
print(b)

7

In [22]:
my_list = [1, 2, 3, 4, 5]
print(my_list)
print(my_list[2 : 3] , my_list[3])
print(type(my_list))

[1, 2, 3, 4, 5]
[3] 4
<class 'list'>

In [16]:
x = 10
print(id(x))

y = 10 
print(id(y))

140713693967560
140713693967560

In [17]:
my_list = [1, 2, 3, 4, 5]
print(my_list)
print(id(my_list))

[1, 2, 3, 4, 5]
2003475616512

In [18]:
my_list = [1 , "hello world", 3.5 , True]
print(my_list)
print(type(my_list))

[1, 'hello world', 3.5, True]
<class 'list'>

In [ ]:
my_num = 4.958e9
print(my_num)
print(type(my_num))

In [ ]:
my_var1 = 10
my_var2 = 20.5
my_var3 = "Hello"

my_var4 = my_var1 + my_var2 + len(my_var3)

print(my_var4)

In [ ]:
my_var = 10 + 3j
print(my_var)
print(type(my_var))

In [23]:
my_list = [1, 2, 3, 4, 5]
print(my_list[2:5])
print(my_list[2:])
print(my_list[:5])

[3, 4, 5]
[3, 4, 5]
[1, 2, 3, 4, 5]

In [24]:
my_list = [10, 8, 9, 15, 18, 26]
print(my_list[-4])

9

In [25]:
my_list = [10, 8, 9, 15, 18, 26]
print(my_list)

my_list[2:5] = [90, 60, 80]
print(my_list)

[10, 8, 9, 15, 18, 26]
[10, 8, 90, 60, 80, 26]

In [26]:
my_list = [10, 8, 9, 15, 18, 26]
print(my_list)

my_list.insert(2, 65)
print(my_list)

[10, 8, 9, 15, 18, 26]
[10, 8, 65, 9, 15, 18, 26]

In [27]:
my_list = [10, 8, 9, 15, 18, 26]
print(my_list)

my_list.append(44)
print(my_list)

[10, 8, 9, 15, 18, 26]
[10, 8, 9, 15, 18, 26, 44]

In [28]:
my_list = ["Cat", "Dog", "Rabbit"]
print(my_list)

my_list.remove("Dog")
print(my_list)

['Cat', 'Dog', 'Rabbit']
['Cat', 'Rabbit']

In [30]:
my_list = ["Cat", "Dog", "Rabbit", "Dog"]
print(my_list)

my_list.remove("Dog")
print(my_list)

['Cat', 'Dog', 'Rabbit', 'Dog']
['Cat', 'Rabbit', 'Dog']

In [31]:
my_list = ["Cat", "Dog", "Rabbit"]
my_var = my_list.pop(1)

print(my_var)
print(my_list)

Dog
['Cat', 'Rabbit']

In [32]:
my_list = ["Cat", "Dog", "Rabbit"]
print(my_list)

del my_list[1]
print(my_list)

['Cat', 'Dog', 'Rabbit']
['Cat', 'Rabbit']

In [33]:
my_list = ["Cat", "Dog", "Rabbit"]
print(my_list)

del my_list
print(my_list)

['Cat', 'Dog', 'Rabbit']

NameError: name 'my_list' is not defined

In [34]:
my_list = ["Cat", "Dog", "Rabbit"]
print(my_list)

my_list.clear()
print(my_list)

['Cat', 'Dog', 'Rabbit']
[]

In [35]:
my_list = ["Cat", "Dog", "Rabbit", "Horse", "Elephant"]
print(my_list)

my_list.sort()
print(my_list)

['Cat', 'Dog', 'Rabbit', 'Horse', 'Elephant']
['Cat', 'Dog', 'Elephant', 'Horse', 'Rabbit']

In [37]:
my_list = ["apple", "32", "rat", "Grapes", "rabbit"]
print(my_list)

my_list.sort()
print(my_list)

['apple', '32', 'rat', 'Grapes', 'rabbit']
['32', 'Grapes', 'apple', 'rabbit', 'rat']

In [38]:
my_list = ["apple", "32", "rat", "Grapes", "rabbit"]
print(my_list)

my_list.sort(reverse=True)
print(my_list)

['apple', '32', 'rat', 'Grapes', 'rabbit']
['rat', 'rabbit', 'apple', 'Grapes', '32']

In [39]:
my_list = ["Dog", "Cat", "Elephant", "Rabbit", "Horse"]
print(my_list)

my_list.reverse()
print(my_list)

['Dog', 'Cat', 'Elephant', 'Rabbit', 'Horse']
['Horse', 'Rabbit', 'Elephant', 'Cat', 'Dog']

In [ ]:
my_list = ["Dog", "Cat", "Elephant", "Rabbit", "Horse"]
print(my_list)

my_list1 = my_list.copy()
print(my_list1)

['Dog', 'Cat', 'Elephant', 'Rabbit', 'Horse']
['Dog', 'Cat', 'Elephant', 'Rabbit', 'Horse']

In [42]:
my_list_1 = [10, 20, 5, 8]
my_list_2 = [9, 13, 15]

my_list_3 = my_list_1 + my_list_2
print(my_list_3)

[10, 20, 5, 8, 9, 13, 15]

In [43]:
my_list_1 = [10, 20, 5, 8]
my_list_2 = [9, 13, 15]

my_list_1.extend(my_list_2)
print(my_list_1)

[10, 20, 5, 8, 9, 13, 15]

In [5]:
sports = {"Soccer", "Basketball", "Tennis", "Cricket"}

x = list(sports)
print(x , type(x))
x[1] = "cricket"
sports = tuple(x)
print(sports , type(sports))

['Cricket', 'Tennis', 'Soccer', 'Basketball'] <class 'list'>
('Cricket', 'cricket', 'Soccer', 'Basketball') <class 'tuple'>

In [17]:
sports = {"Soccer", "Basketball", "Tennis", "Cricket"} 
sports.add("batminton")
print(sports)
sports.update(["hockey" , "volleyball"])
print(sports)
sports.remove("Soccer")
print(sports)

{'Cricket', 'Tennis', 'batminton', 'Basketball', 'Soccer'}
{'Cricket', 'Tennis', 'batminton', 'Basketball', 'Soccer', 'volleyball', 'hockey'}
{'Cricket', 'Tennis', 'batminton', 'Basketball', 'volleyball', 'hockey'}

In [4]:
sports = {"Soccer", "Basketball", "Tennis", "Cricket"}
print(sports)
print(type(sports))

{'Cricket', 'Tennis', 'Soccer', 'Basketball'}
<class 'set'>

In [18]:
range_1 = range(3,24,4)
for i in range_1:
    print(i)
    
print(range_1)
print(type(range_1))

3
7
11
15
19
23
range(3, 24, 4)
<class 'range'>

In [31]:
this_dick ={
    "name": "Dick",
    "price":5000,
    "category": "Fiction",
    "weight":"300kg",
    "status":True
}

print(this_dick, type(this_dick))
print(this_dick["name"] , this_dick["category"])

{'name': 'Dick', 'price': 5000, 'category': 'Fiction', 'weight': '300kg', 'status': True} <class 'dict'>
Dick Fiction

In [23]:
nested_tuple = ((1,2,3),("a","b","c"),(True , False))
print(nested_tuple[1][1])
print(nested_tuple[2][0])

b
True

In [34]:
this_dick ={
    "name": "Dick",
    "price":5000,
    "category": "Fiction",
    "weight":"300kg",
    "status":True
}

this_dick["weight"] = "2kg"
print(this_dick)

{'name': 'Dick', 'price': 5000, 'category': 'Fiction', 'weight': '2kg', 'status': True}

In [45]:
this_dict = {
    "name":"Sugar",
    "weight" : "1kg",
    "price":130.35
}

# this_dict["weight"] = "2kg"
# print(this_dict)

this_dict.update({"expire-date": "2025-12-31" , "weight": "2kg"})
print(this_dict)

this_dict.pop("name")
print(this_dict)

del this_dict["weight"]
print(this_dict)

this_dict.clear()
print(this_dict)

{'name': 'Sugar', 'weight': '2kg', 'price': 130.35, 'expire-date': '2025-12-31'}
{'weight': '2kg', 'price': 130.35, 'expire-date': '2025-12-31'}
{'price': 130.35, 'expire-date': '2025-12-31'}
{}